<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head('Transactions')">
    <meta charset="UTF-8"/>
</head>
<body>
<header th:replace="header :: menu">
    Navigation bar
</header>
<div class="container-fluid body">
    <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content justify-content-center">
        <h2>Bank transactions</h2>
        <form th:action="@{/transactions/filter}" method="get">
            <div class="input-group mb-3">
                <label for="bdate">From:</label>
                <input type="date" id="bdate" name="bdate" th:value="${#dates.format(bdate, 'yyyy-MM-dd')}"
                       max="3000-12-31" min="2000-01-01" class="form-control">
                <label for="edate">till</label>
                <input type="date" id="edate" name="edate" th:value="${#dates.format(edate, 'yyyy-MM-dd')}"
                       max="3000-12-31" min="2000-01-01" class="form-control">
                <label for="client_id">Client</label>
                <select id="client_id" th:value="${client_id}" name="client_id" class="custom-select">
                    <option value="0" th:selected="${client_id==0}">All clients</option>
                    <th:block th:each="client: ${clients}">
                        <option th:value="${client.id}" th:selected="${client_id==client.id}"
                                th:text="${client.name}">
                            Client
                        </option>
                    </th:block>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Filter</button>
                </div>
            </div>
            <div class="alert alert-danger my-1" role="alert" th:if="${filterError} != null"
                 th:text="${filterError}">Filter error
            </div>
        </form>
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <td>Id</td>
                <td>Date</td>
                <td>Sender</td>
                <td>Recipient</td>
                <td>Amount</td>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="transaction: ${transactions}">
                <tr>
                    <td th:text="${transaction.id}">Id</td>
                    <td th:text="${transaction.date}">Date</td>
                    <td>
                        <a th:if="${transaction.sender!=null}"
                           th:href="@{/account/{accountId}/transactions(accountId=${transaction.sender.id})}"
                           th:text="${transaction.sender}">
                            Sender</a>
                    </td>
                    <td>
                        <a th:if="${transaction.recipient!=null}"
                           th:href="@{/account/{accountId}/transactions(accountId=${transaction.recipient.id})}"
                           th:text="${transaction.recipient}">
                            Recipient</a>
                    </td>
                    <td th:text="${transaction.amount}">Amount</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>